@use "../fonts/perfect-dos-vga-437-win.scss";
@use "./forms.scss";

html {
	display: flex;
	flex-direction: column;

	height: 100%;

	body {
		display: flex;
		flex-direction: column;

		flex: 1;
	}

	* {
		font-family: "Perfect DOS VGA 437";
		color: green;
	}
}
